/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.btn {
  background-color: grey;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: lightslategray;
}

.btn:focus {
  outline: none;
}

.btn+.btn {
  margin-left: 10px;
}

.btn-confirm {
  background-color: darkgreen;
}

.btn-confirm:hover {
  background-color: green;
}

.modal-dialog-header {
  border-bottom: 1px solid gray;
  padding: 10px;
}

.modal-dialog-body {
  border-bottom: 1px solid gray;
  padding: 10px;
}

.modal-dialog-footer {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.modal-dialog-footer>.btn {
  margin-bottom: 0;
}

.modal-dialog-title {
  margin: 0;
}
